.login-form{
    position: relative;
    top: 100PX;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}